node_modules
.env

.openzeppelin

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
scripts/config/

.DS_Store
distribution/

parse_invest_events.json
period_invest_stats.json
PRE-preliminary-20251113T060623Z.pdf
